<app-header></app-header>

<div class="contatti-container">
  <h1> Contatti </h1>
  <p> Hai bisogno di assistenza? <strong> Contattaci! </strong></p>

  <p> Siamo qui per aiutarti con qualsiasi domanda o dubbio. Ecco come puoi raggiungerci: </p>

  <div class="contatti-item">
    <h2> Email: </h2>
    <p>
      <img src="assets/images/contacts/Email.png" alt="Email Icon"
        style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;">
      <strong>info&#64;betacom.it</strong>
    </p>
    <p> Rispondiamo alle email entro 24 ore durante i giorni lavorativi. </p>
  </div>

  <div class="contatti-item">
    <h2>Telefono:</h2>
    <p>
      <img src="assets/images/contacts/Telefono.png" alt="Phone Icon"
        style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;">
      <strong>+39 011.43.32.064</strong>
    </p>
    <p> Se preferisci parlare direttamente con un membro del nostro team, siamo disponibili dal lunedì al venerdì, dalle
      9:00 alle 18:00. </p>
  </div>

  <div class="contatti-item">
    <h2> Indirizzo: </h2>
    <p>
      <strong>
        <img src="assets/images/contacts/Mappa.png" alt="Map Icon"
          style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;">
        <a
          href="https://www.google.com/maps/place/Betacom/@41.122236,16.8656021,17z/data=!3m1!4b1!4m6!3m5!1s0x1347e903676ac6eb:0x6f3142828bb393db!8m2!3d41.122236!4d16.868177!16s%2Fg%2F11tp89h2cd?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D">
          Via Roberto da Bari, 119, 70122 Bari, Italia
        </a>
      </strong>
    </p>
  </div>
</div>

<app-footer></app-footer>