<div class="dialog-container">
  <h2 mat-dialog-title class="d-flex align-center gap">
    <mat-icon *ngIf="data.icon" color="primary">{{ data.icon }}</mat-icon>
    <span>{{ data.title || 'Conferma' }}</span>
  </h2>
  <div mat-dialog-content>
    <p class="message">{{ data.message || 'Sei sicuro?' }}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ data.cancelText || 'Annulla' }}</button>
    <button mat-flat-button color="warn" (click)="onConfirm()">{{ data.confirmText || 'Conferma' }}</button>
  </div>
</div>