<!--[if lte IE 9]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="#">upgrade your browser</a> to improve your experience and
    security.
  </p>
<![endif]-->

<app-header (search)="onSearch($event)"
  (filtroSelezionato)="onFiltroCliccato($event.categoriaId, $event.piattaformaId)">
</app-header>

<!-- Start Catalog Area -->
<section class="trending-product section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Catalogo Prodotti</h2>
          <p>
            Rivivi l’emozione del passato: colleziona, gioca e riscopri i grandi
            classici del videogioco, dalle leggendarie console anni ’80 e ’90 ai
            titoli indimenticabili che hanno segnato generazioni di gamer.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let prodotto of prodotti" class="col-lg-3 col-md-6 col-12">

        <!-- Start Single Product -->
        <div class="single-product">
          <div class="product-image">
            <img [src]="prodotto.imgUrl" alt="{{ prodotto.nome }}" [routerLink]="['/prodotti', prodotto.id]" />
            <div class="button" [ngClass]="{'disabled-cart-add-button': prodotto.categoria.toLowerCase() === 'videogiochi' && 
              !idPiattaformaSelezionata
            }">
              <a (click)="addToCart(prodotto)" class="btn"><i class="lni lni-cart"></i> Aggiungi</a>
            </div>
          </div>

          <div class="product-info">
            <span class="chip">{{ prodotto.categoria }}</span>
            <h4 class="title product-name">
              <a [routerLink]="['/prodotti', prodotto.id]">{{ prodotto.nome }}</a>
            </h4>
            <span class="category">{{ prodotto.descrizione }}</span>

            <select (change)="onProductSelectPlatformChange($event)" class="form-select myselect"
              name="select-prodotto{{ prodotto.id }}" required
              *ngIf="prodotto.categoria.toLowerCase() === 'videogiochi'">
              <option value="" disabled selected>Seleziona Piattaforma</option>
              <option *ngFor="let piattaforma of prodotto.piattaforme" [value]="piattaforma.id">
                {{ piattaforma.nome }}
              </option>
            </select>

            <div class="price">
              <span>€{{ prodotto.prezzo }}</span>
            </div>
          </div>
        </div>
        <!-- End Single Product -->

      </div>
    </div>
  </div>
</section>
<!-- End Catalog Area -->

<!-- Start Brands Area -->
<div class="brands">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
        <h2 class="title">Brand Popolari</h2>
      </div>
    </div>
    <div class="brands-logo-wrapper">
      <div class="brands-logo-carousel d-flex align-items-center justify-content-center">
        <div class="brand-logo">
          <!-- Prima riga -->
          <div class="logo-row">
            <img src="assets/images/brands/01.png" alt="#" />
            <img src="assets/images/brands/02.png" alt="#" />
            <img src="assets/images/brands/03.png" alt="#" />
            <img src="assets/images/brands/04.png" alt="#" />
            <img src="assets/images/brands/05.png" alt="#" />
          </div>
          <!-- Seconda riga -->
          <div class="logo-row">
            <img src="assets/images/brands/06.png" alt="#" />
            <img src="assets/images/brands/07.png" alt="#" />
            <img src="assets/images/brands/08.png" alt="#" />
            <img src="assets/images/brands/09.png" alt="#" />
            <img src="assets/images/brands/10.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brands Area -->

<app-shopping-info></app-shopping-info>

<app-footer></app-footer>