<!-- Start Header Area -->
<header class="header navbar-area">
  <!-- Start Header Middle -->
  <div class="header-middle">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-3 col-7">
          <!-- Start Header Logo -->
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo/logo.png" alt="Logo" />
          </a>
          <!-- End Header Logo -->
        </div>
        <div class="col-lg-5 col-md-7 d-xs-none">
          <!-- Start Main Menu Search -->
          <div class="main-menu-search">
            <!-- navbar search start -->
            <div class="navbar-search search-style-5">
              <div class="search-input">
                <input type="text" placeholder="Cerca" />
              </div>
              <div class="search-btn">
                <button><i class="lni lni-search-alt"></i></button>
              </div>
            </div>
            <!-- navbar search Ends -->
          </div>
          <!-- End Main Menu Search -->
        </div>
        <div class="col-lg-4 col-md-2 col-5">
          <div class="middle-right-area" style="justify-content: flex-end">
            <div class="nav-hotline"></div>

            <!-- Profilo -->
            <div class="navbar-cart" style="margin-right: 10px">
              <div class="cart-items">
                <a href="javascript:void(0)" class="main-btn">
                  <i class="lni lni-user"></i>
                </a>
              </div>
            </div>

            <div class="navbar-cart">
              <div class="cart-items">
                <a href="javascript:void(0)" class="main-btn">
                  <i class="lni lni-cart"></i>
                  <span class="total-items">{{ carrello.totaleQuantita }}</span>
                </a>
                <!-- Shopping Item -->
                <div class="shopping-item">
                  <div class="dropdown-cart-header">
                    <span>Prodotti</span>
                  </div>
                  <ul class="shopping-list">
                    <li *ngFor="let riga of carrello.righe">
                      <a (click)="rimuoviDalCarrello(riga.id);" href="javascript:void(0)" class="remove" title="Rimuovi questo elemento"><i
                          class="lni lni-close"></i></a>
                      <div class="cart-img-head">
                        <a class="cart-img" href="#"><img [src]="riga.prodotto.imgUrl" alt="#" /></a>
                      </div>
                      <div class="content">
                        <h4><a href="#">{{ riga.prodotto.nome }}</a></h4>
                        <p class="quantity">
                          {{ riga.quantita }}x - <span class="amount">€{{ riga.prodotto.prezzo }}</span>
                        </p>
                      </div>
                    </li>
                  </ul>

                  <div class="bottom">
                    <div class="total">
                      <span>Totale</span>
                      <span class="total-amount">€{{ carrello.totale }}</span>
                    </div>
                    <div class="button">
                      <a href="#" class="btn animate">Ordina</a>
                    </div>
                  </div>
                </div>
                <!--/ End Shopping Item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Middle -->
  <!-- Start Header Bottom -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-6 col-12">
        <div class="nav-inner">
          <!-- Start Mega Category Menu -->
          <div class="mega-category-menu">
            <span class="cat-button d-inline-flex align-items-center">
              <i class="lni lni-menu me-2" style="top: 0px"></i>
              Categorie
            </span>
            <ul class="sub-category">
              <li *ngFor="let categoria of categorie" [value]="categoria.id">
                <a [routerLink]="['/']" [queryParams]="{ c: categoria.id }">{{ categoria.nome }}
                  <i class="lni lni-chevron-right" *ngIf="categoria.nome.toLowerCase() === 'videogiochi'"></i>
                </a>
                <ul class="inner-sub-category" *ngIf="categoria.nome.toLowerCase() === 'videogiochi'">
                  <li *ngFor="let piattaforma of piattaforme">
                    <a [routerLink]="['/']" [queryParams]="{ c: categoria.id, p: piattaforma.id }">{{ piattaforma.nome
                      }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- End Mega Category Menu -->
          <!-- Start Navbar -->
          <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    aria-label="Toggle navigation">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/faq" routerLinkActive="active" aria-label="Toggle navigation">FAQ</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/contatti" routerLinkActive="active" aria-label="Toggle navigation">Contatti</a>
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
          </nav>
          <div class="w-100 d-flex justify-content-end align-items-center">
            <ul class="navbar-nav flex-row align-items-center">
              <li class="nav-item ms-auto" style="height: 100%; margin-right: 0px">
                <a routerLink="/accedi" class="nav-link px-2">Accedi</a>
              </li>
              <li class="d-flex align-items-center" style="height: 100%">
                <span class="mx-1">|</span>
              </li>
              <li class="nav-item" style="height: 100%">
                <a routerLink="/registrati" class="nav-link px-2">Registrati</a>
              </li>
            </ul>
          </div>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Bottom -->
</header>
<!-- End Header Area -->