.disabled-cart-add-button {
  pointer-events: none; /* Disabilita tutti gli eventi del mouse */
  opacity: 0.7 !important; /* Opacità ridotta per indicare che è disabilitato */
}

.brands-logo-carousel {
  padding: 20px;
}

.brands-logo-carousel > img {
  height: 120px;
  object-fit: contain;
  border-radius: 10px;
}

.chip {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 12px;
  background: #eef2ff;
  color: #3441d9;
  margin-left: -2px;
}

.product-name {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  margin-top: 10px;
}
