<app-header></app-header>

<div class="faq-container">
  <h1> Domande Frequenti </h1>

  <div class="faq-item">
    <h5> 1. Che tipi di prodotti vendete?</h5>
    <p>
      Vendiamo esclusivamente prodotti videoludici retrò, che coprono tutte le console classiche,
      dai giochi per NES, SNES, Sega Mega Drive, Gameboy, GameCube etc..., 
      fino a console più recenti come Nintendo DS e PSP, con anche accessori vari come i controller.
    </p>
  </div>

  <div class="faq-item">
    <h5> 2. I videogiochi sono originali o copie? </h5>
    <p>
      Tutti i giochi che vendiamo sono <strong> originali</strong>, a meno che non sia
      espressamente indicato che si tratta di repliche o versioni da collezione. Ogni
      prodotto viene testato prima di essere spedito per garantire che funzioni correttamente.
    </p>
  </div>

  <div class="faq-item">
    <h5> 3. Come posso pagare i miei acquisti? </h5>
    <p>
      Accettiamo diverse modalità di pagamento, tra cui:
    </p>
      <ol>
        <li> Carta di credito (Visa, MasterCard e American Express); </li>
        <li> PayPal; </li>
        <li> Bonifico bancario. </li>
      </ol>
  </div>

  <div class="faq-item">
    <h5> 4. Posso restituire un prodotto se non sono soddisfatto? </h5>
    <p>
      Sì, accettiamo resi entro 14 giorni dalla ricezione dell'ordine, a patto che il prodotto
      sia nelle stesse condizioni in cui è stato ricevuto (non danneggiato o usato).
    </p>
  </div>

  <div class="faq-item">
    <h5> 6. Vendo prodotti usati, è possibile? </h5>
    <p>
      Sì, se hai dei prodotti retrò che desideri vendere o scambiare, puoi contattarci per
      un'eventuale valutazione. Siamo sempre alla ricerca di nuovi titoli per il nostro negozio.
    </p>
  </div>

  <div class="faq-item">
    <h5>7. La spedizione è gratuita per qualsiasi ordine? </h5>
    <p>
      No, la spedizione è gratuita solo per gli ordini superiori a <strong> 49 euro</strong>.
    </p>
  </div>
</div>

<app-footer></app-footer>