<!-- Start Shipping Info -->
<section class="shipping-info">
  <div class="container">
    <ul>
      <!-- Free Shipping -->
      <li>
        <div class="media-icon">
          <i class="lni lni-delivery"></i>
        </div>
        <div class="media-body">
          <h5>Spedizione Gratuita</h5>
          <span>Per ordini superiori a €49.</span>
        </div>
      </li>
      <!-- Money Return -->
      <li>
        <div class="media-icon">
          <i class="lni lni-support"></i>
        </div>
        <div class="media-body">
          <h5>Supporto 24/7</h5>
          <span>Live Chat o Telefono.</span>
        </div>
      </li>
      <!-- Support 24/7 -->
      <li>
        <div class="media-icon">
          <i class="lni lni-credit-cards"></i>
        </div>
        <div class="media-body">
          <h5>Pagamenti Online.</h5>
          <span>Secure Payment Services.</span>
        </div>
      </li>
      <!-- Safe Payment -->
      <li>
        <div class="media-icon">
          <i class="lni lni-reload"></i>
        </div>
        <div class="media-body">
          <h5>Reso Garantito</h5>
          <span>Entro 14 giorni dall'acquisto.</span>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Shipping Info -->
