<button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profilo">
  <mat-icon>person</mat-icon>
</button>

<mat-menu #profileMenu="matMenu">
  <ng-container *ngIf="account?.id; else notLoggedIn">
    <div class="menu-section">
      <p class="menu-title">Informazioni account</p>
      <div class="info-row">{{ account.nome }} {{ account.cognome }}</div>
      <div class="info-row" *ngIf="account.indirizzo">
        {{ account.indirizzo.via }}, {{ account.indirizzo.citta }} ({{ account.indirizzo.cap }})
      </div>
      <div class="info-row">Ruolo: {{ account.ruolo }}</div>
      <mat-divider></mat-divider>
    </div>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Esci dal profilo
    </button>
  </ng-container>

  <ng-template #notLoggedIn>
    <button mat-menu-item routerLink="/login">
      <mat-icon>login</mat-icon> Accedi
    </button>
  </ng-template>
</mat-menu>
