.menu-section {
  padding: 10px 16px;
  width: 250px;
}

.menu-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.info-row {
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  margin-bottom: 4px;
}

.mat-menu-item mat-icon {
  margin-right: 8px;
}
