/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #4caf50; /* verde */
  --mdc-snackbar-supporting-text-color: #fff; /* testo bianco */
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: #f44336; /* rosso */
  --mdc-snackbar-supporting-text-color: #fff; /* testo bianco */
}

.mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: white !important;
}
